<div class="grid-container">
  <h1 class="mat-h1">編輯角色</h1>

  <!-- 新增功能 開始 -->
  <form
    [formGroup]="addForm"
    autocomplete = off
    *ngIf="!isEditShow"
  >
    <div>
      <mat-form-field class="add-name">
        <input
          matInput
          formControlName="addName"
          placeholder="角色名稱"
          maxlength="16"
        >
      </mat-form-field>

      <mat-form-field class="add-age">
        <mat-select placeholder="年齡" formControlName="addAge">
          <mat-option
            *ngFor="let age of ages"
            [value]="age"
          >
            {{ age }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="add-job">
        <mat-select placeholder="職稱" formControlName="addJob">
          <mat-option
            *ngFor="let job of jobs"
            [value]="job"
          >
            {{ job }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button
        mat-flat-button
        class="add-btn"
        [disabled]="addForm.invalid"
        (click)="addPerson()"
      >
        新增
      </button>
    </div>
  </form>
  <!-- 新增功能 結束 -->

  <!-- 變更功能 開始 -->
  <form
    [formGroup]="editForm"
    autocomplete = off
    *ngIf="isEditShow"
  >
    <div>
      <mat-form-field class="edit-name">
        <input
          matInput
          formControlName="editName"
          placeholder="角色名稱"
          maxlength="16"
        >
      </mat-form-field>

      <mat-form-field class="edit-age">
        <mat-select placeholder="年齡" formControlName="editAge">
          <mat-option
            *ngFor="let age of ages"
            [value]="age"
          >
            {{ age }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="edit-job">
        <mat-select placeholder="職稱" formControlName="editJob">
          <mat-option
            *ngFor="let job of jobs"
            [value]="job"
          >
            {{ job }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="button-row">
        <button
          mat-flat-button
          (click)="cancel()"
        >
          取消
        </button>
        <button
          mat-flat-button
          [disabled]="editForm.invalid"
          (click)="update()"
        >
          儲存變更
        </button>
      </div>
    </div>
  </form>
  <!-- 新增功能 結束 -->

  <!-- 角色清單 開始 -->
  <div>
    <ul>
      <li *ngFor="let person of dataSource">
        <a (click)="edit(person)">
          <span>
            {{ person.idData }}
          </span>
          {{ person.nameData }} , {{ person.ageData }} , {{ person.jobData }}
        </a>
        <mat-icon
          matChipRemove
          (click)="delete(person.idData)"
        >
          cancel
        </mat-icon>
      </li>
    </ul>
  </div>
  <!-- 角色清單 結束 -->

</div>
